<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost;Database=master; Integrated Security=true;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tps_net; Integrated Security=true; User=Nicolas; Password='';"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=true; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.masterConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>